*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

header div.header {
    height: 24px;
    min-width: 1440px;
    background-color: #4AC959;
    position: relative;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1440px;
}

header nav figure {
    display: flex;
    align-items: center;
}

header nav figure img {
    width: 43.54px;
    height: 50px;
    margin: 30px 0 0 80px;
}

header nav figure figcaption {
    display: none;
}

header nav figure span {
    font-size: 40px;
    margin-top: 30px;
}

button.btn {
    background: #000;
    width: 120px;
    height: 40px;
    color: #fff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 39px 86px 0 0;
    outline: none;
    border: none;
}

header nav button.btn:hover {
    cursor: pointer;
    outline: none;
    border: none;
}

section.home {
    height: 734px;
    min-width: 1440px;
    display: flex;
    justify-content: space-between;
}

section.home div h1 {
    font-weight: normal;
    font-size: 60px;
    color: #4AC959;
    margin: 114px 0 56px 80px;
    max-width: 621px;
    height: 131px;
}

section.home div h1 strong{
    font-weight: bold;
    font-size: 80px;
    line-height: 64px;
    color: #000;
}

section.home div div.containerBtn {
    display: flex;
    flex-direction: column;
    
}

section.home div span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 44px 80px;
}

section.home div button.todo {
    width: 300px;
    height: 64px;
    background: #4AC959;
    color: #FFF;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-left: 80px;
    outline: none;
    border: none;
}

section.home div button.todo:hover {
    cursor: pointer;
}

section.home div figure {
    background-image: url(../img/bigArrow.svg);
    background-repeat: no-repeat;
    /* Width: 1440px; */
    Height: 734px;
    /* position: absolute; */
    /* top: 24px; */
    /* left: 806px; */
    /* z-index: -1; */
    margin-right: 86px;
}

section.home div figure img {
    margin: 125px 0 0 106px;
}

section.home div figure figcaption {
    display: none;
}

div.containerArrow {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

section.toDoList main {
    min-width: 1440px;
    height: 1055px;
}

section.toDoList main div.containerHeader {
    background: #000;
    min-width: 1440px;
    height: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.toDoList main div.containerHeader h1 {
    color: #FFF;
    border-bottom: 5px solid #4AC959;
    min-width: 302px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    margin-top: 80px;
}

section.toDoList main div.containerHeader span {
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    max-width: 600px;
    margin-top: 41px;
    margin-bottom: 86px;
}

section.toDoList main div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.toDoList main div.toDo {
    width: 380px;
    border-top: 20px solid #E88D39;
    margin: 92px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;

    box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
}

section.toDoList main div.toDo h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 24px;
    color: #000;
    margin-top: 40px;
    margin-bottom: 20px;
}

section.toDoList main div.toDo span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000;
}

section.toDoList main div.toDo button.btn {
    width: 300px;
    height: 64px;
    margin: 40px;
    outline: none;
    border: none;
}

section.toDoList div.container div.toDo div#createTask {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
}

section.toDoList div.container div.toDo div#createTask:hover, input:hover, button:hover {
    cursor: pointer;
}

section.toDoList div.container div.toDo div#createTask input[type=text] {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
    width: 80%;
    border: none;
    outline: none;
    margin-left: 58px;
}

li.taskToDo {
    text-align: start;
    width: 88%;
    margin-left: 16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

section.toDoList div.container div.toDo div#createTask button.deleteTask {
    width: 40px;
    height: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
    border: none;
    outline: none;
    background: none;
    margin-right: 38px;
}

section.toDoList div.container div.toDo ul#newTasks {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.toDoList div.container div.toDo ul#newTasks div.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}

section.toDoList div.container div.toDo ul#newTasks:hover, input:hover, button:hover {
    cursor: pointer;
}

section.toDoList div.container div.toDo ul#newTasks input {
    width: 24px;
    height: 24px;
    border: 2px solid #A2A2A2;
    box-sizing: border-box;
    margin-left: 23px;
}

section.toDoList div.container div.toDo ul#newTasks input#taskInputValue {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
    margin-left: 56px;
}

section.toDoList div.container div.toDo ul#newTasks button.deleteTask {
    width: 40px;
    height: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
    border: none;
    outline: none;
    background: none;
    margin-right: 38px
}

section.toDoList main div.done {
    width: 380px;
    border-top: 20px solid #4AC959;
    margin: 92px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;

    box-shadow: 0px 4px 60px rgba(66, 66, 66, 0.2);
}

section.toDoList main div.done h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 24px;
    color: #000;
    margin-top: 40px;
}

section.toDoList main div.done span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

section.toDoList main div.done button.btn {
    width: 300px;
    height: 64px;
    margin: 40px;
    outline: none;
    border: none;
}

section.toDoList main div.done ul#taskDone {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

section.toDoList main div.done ul#taskDone div.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}

section.toDoList main div.done ul#taskDone li.taskToDo {
    text-align: start;
    width: 86%;
    margin-left: 16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

section.toDoList main div.done ul#taskDone button.deleteTask {
    width: 40px;
    height: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
    border: none;
    outline: none;
    background: none;
    margin-right: 38px;
}

.btn:hover {
    cursor: pointer;
    outline: none;
    border: none;
}

footer {
    height: 193px;
    min-width: 1440px;
    background: #000;
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: space-evenly;
    color: #FFFFFF;
    margin: 40px 0;
}

footer span, address {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

footer span:last-child {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

div.checkbox {
    width: 32px;
    height: 24px;
    margin-left: 23px;
    background-image: url(../img/todo.svg);
}

/*
div.checkAnimation {
    width: 32px;
    height: 24px;
    margin-left: 23px;
    background-image: url(../img/animateCheck.svg);
}*/

div.checkDone {
    width: 32px;
    height: 24px;
    margin-left: 23px;
    background-image: url(../img/done.svg);
}

.hidden {
    display: none;
}

.overlay {
    position: relative;
    left: 0px;
    top: 0px;
    background: #0C0C0C;
    opacity: 0.8;
}

div.loginContainer {
    position: absolute;
    z-index: 10;
    border: 5px solid;
    background: #FFFFFF;  
    width: 932px;
    height: 721px;
    border: 1px solid black;
    left: 254px;
    top: 149px;
}

body div.loginContainer div.container {
    display: flex;
    flex-direction: row;
    align-items: center;

}
body div.loginContainer div.container div#imageContainer {
    width: 231px;
    height: 231px;
    background: url(../img/login.svg);
    margin-left: 52px;
    margin-top: 76px;
}

body div.loginContainer div.container div#loginText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: #4AC959;
    margin-left: 42px;
    margin-top: 121px;
}

body div.loginContainer div.container div#loginText strong {
    width: 535px;
    height: 141px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 64px;
    color: #000000;
}

body div.loginContainer div.container button#close {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 64px;
    color: #000000;
    background: none;
    border: none;
    outline: none;
    margin-left: 120px;
    margin-bottom: 243px;
}

body div.loginContainer div.containerInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

body div.loginContainer div.containerInputs span {
    margin-top: 30px;
    margin-bottom: 3px;

}

body div.loginContainer div.containerInputs span:first-child {
    margin-top: 39px;
}

body div.loginContainer div.containerInputs input {
    width: 342px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #959595;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    text-align: center;
}

body div.loginContainer div.containerInputs button#signIn {
    width: 300px;
    height: 64px;
    background: #4AC959;
    margin-top: 56px;
    outline: none;
    border: none;
    margin-bottom: 53px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

ul#taskDone div.checkbox {
    width: 32px;
    height: 24px;
    margin-left: 23px;
    background-image: url(../img/done.svg);
}

ul#taskDone .ui-draggable-handle {
    position: unset !important;
}
